body {
    background-image: url("pic1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: pink;
}
h1 {
    padding-bottom: 35%;
}
p {
    color: black;
    text-shadow: 1px 2px 2px;  
    background-color: azure;
    font-size: xx-large;
}